 	<% provide(:title, 'Teachers') %>

	

</br>
</br>
</br>
<h1>We want you to help and Earn at the same time</h1>
</br>
</br>
<h2>Set your class and Teach!</h2>



 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   <br> <center>  <img src="http://i50.tinypic.com/vsjmvc.png"/></a> 
<br>

</br>
</br>
</br>
</br>
</br>

<h1>How ?</h1>



 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   <br> <center>  <img src="http://i49.tinypic.com/1fdy6a.png"/></a> 
<br>
<br>

</br>
</br>
<br>
<br>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<h1>Easy right ? Sign up now </h1>
</br>



<%= form_for(:signin, :url=> signin_path) do |f| %>
  <%= f.submit "I WANT TO TEACH", :class=> "btn btn-large btn-primary" %>
    <% end %>

    </br>
</br>
<br>
<br>

</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<center><h3><%= link_to "Courses", course_path %> | <%= link_to "About", about_path %> | <%= link_to "Team", root_path %> | <%= link_to "Universities", root_path %> | <%= link_to "Teachers", root_path %> </center>

<br>
<br>
    
   
    <br>
<br>

   <center> Copyright 2013 OrangeApps © All Rights Reserved. </center>

</div>