<% provide(:title, 'Home') %>
</div>
<center><%=image_tag("http://i48.tinypic.com/313k8xe.png")%>


</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>

<%=image_tag("http://i49.tinypic.com/303li8k.png")%>

<%=image_tag("http://i49.tinypic.com/15nlr1l.png")%>
</br>
</br>
</br>
</br>
</br>
</br>
<%=image_tag("http://i50.tinypic.com/mwbr7l.png")%>

<%=image_tag("http://i47.tinypic.com/9lap1d.png")%>

</body>