<% provide(:title, @user.name) %>

<% content_for :side do %>
  <section> <%= image_tag avatar_url @user %></section>
  <section><%= render 'shared/stats' %></section>
<% end %>

<% content_for :main do %>
  <h3>Microposts (<%= @user.microposts.count %>)</h3>
  <%= render 'follow_form' if signed_in? %>
  <%= render 'shared/feed_item', :microposts=> @microposts %>
<% end %>
